<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Hours</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Hours</th>
    </tr>
    </tfoot>

    <tbody th:each="course: ${courses}">
    <tr>
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.description}"></td>
        <td th:text="${course.price}"></td>
        <td th:text="${course.hours}"></td>
    </tr>
    </tbody>
</table>

<hr>
<form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Description: <input type="text" th:field="*{description}"></p>
    <p>Price: <input type="number" th:field="*{price}"></p>
    <p>Hours: <input type="number" th:field="*{hours}"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>